html {
    text-align: center;
			background: #c9d5dd;
			color: #412300;
			transition: 1s ease;
			font-family: sans-serif;
			word-break: break-all;
}

button{
	width: 200px;
	height: 50px;
}

#rst {
    outline: 0;
			font-size: 40px;
			line-height: 26px;
			text-align: center;

			padding: 8px 12px;
			border: 0;
}